<a href="https://colab.research.google.com/github/RNkun/OOP-1-1/blob/main/OOP_Concepts_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Classes with Multiple Objects

In [24]:
class Birds:
  def __init__(self, brd_name):
    self.brd_name = brd_name

  def flying_birds(self):
    print(f"{self.brd_name} flies above the sky")

  def nonflying_birds(self):
    print(f"{self.brd_name} is the national bird of Australia")

vulture = Birds("Griffon Vulture")
crane = Birds("Common Crane")
emu = Birds("Emu")

vulture.flying_birds()
crane.flying_birds()
emu.nonflying_birds()

Griffon Vulture flies above the sky
Common Crane flies above the sky
Emu is the national bird of Australia

Encapsulation (mangling with double underscore)

In [14]:
class foo:
  def __init__(self, a, b):
    self.a = a
    self.b = b

  def add(self):
    return self.a + self.b 

object_foo = foo(int(input("First Number ")),int(input("Second Number ")))
object_foo.add()

First Number4
Second Number5

9

Increment

In [28]:
class Counter:
  def __init__(self):
    self.__current = 0
  def increment(self):
    self.__current += 1
  def value(self):
    return self.__current 
  def reset(self):
    self.__current = 0

number = Counter()
number.increment()
number.increment()
number.increment()
number.increment()

number.__current  = 1 
print(number.value())

4

Inheritance

In [32]:
class Person:
  def __init__(self, fn, surname):
    self.fn = fn
    self.surname = surname

  def fullname(self):
    print(self.fn, self.surname)

person = Person(str(input("Your First Name: ")),str(input("Your Surname: ")))
person.fullname()

class Teacher(Person):
  pass

person2 = Teacher(str(input("Teacher's First Name: ")),str(input("Teacher's Surname: ")))
person2.fullname()

class Student(Person):
  pass

person3 = Student(str(input("Student's First Name: ")),str(input("Student's Surname: ")))
person3.fullname()

Your First Name: Ryan Nico
Your Surname: Anogante
Ryan Nico Anogante
Teacher's First Name: Mam Maria Rizette
Teacher's Surname: Sayo
Mam Maria Rizette Sayo
Student's First Name: Lance
Student's Surname: Alcala
Lance  Alcala

Polymorphism

In [34]:
class RegularPolygon:
  def __init__(self,side):
    self.side = side
class Square(RegularPolygon):
  def area(self):
    return self.side * self.side 
class EquilateralTriangle(RegularPolygon):
  def area(self):
     return self.side * self.side * 0.433

obj1 = Square(int(input("Input Number for Square: ")))
print(obj1.area())

obj2 = EquilateralTriangle(int(input("Input Number for Equilateral Triangle: ")))
print(obj2.area())

Input Number for Square: 4
16
Input Number for Equilateral Triangle: 3
3.897